<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>トップ画面</title>
  </head>
  <body>
    <div>
      <h1 class="fibt-bold">ログイン画面</h1>
      <form
        role="form"
        th:action="@{/login}"
        th:object="${MemberIdForm}"
        method="get"
      >
        <label>id: </label>
        <p>
          <input type="text" required th:name="mid" />
          <span
            th:if="${#fields.hasErrors('mid')}"
            th:errors="*{mid}"
            style="color: red"
          ></span>
        </p>
        <p><input type="submit" value="ログイン" /></p>
      </form>
    </div>
  </body>
</html>
